<h1>@ViewBag.title</h1>

<form method="post" action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key" 
                       checked="@column.Key == 'all''"/>
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{
    <a asp-controller="Search" asp-action="Results" />
    <h3>@ViewBag.jobs.Count Result(s)</h3>

    @foreach (var job in ViewBag.jobs)
    {
    <table class="job-listing">
        
        <tr><td>Name:</td> <td>@job["name"]</td></tr>
        
        <tr><td>Employer:</td> <td>@job["employer"]</td></tr>
        
        <tr><td>Location:</td> <td>@job["location"]</td></tr>
        
        <tr><td>Position Type:</td> <td>@job["position type"]</td></tr>
        
        <tr><td>Core Competency:</td> <td>@job["core competency"]</td></tr>
        
        
    </table>
   
       
    }
}